/* @import url("https://kodhus.com/kodhus-ui/kodhus-0.1.0.min.css");
.container {
  width: 60%;
  margin: 100px auto;
}
.result-container > div {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px;
} */
